body {
  margin: 0; }

.container {
  margin: 0 auto;
 }

.shuffle-sort-header {
  border: 1px solid #fff;
  border-bottom: 0; }

.content-divider {
  background: #909090;
  height: 8px;
  opacity: 0.44;
  margin-bottom: -8px; }

.shuffle-sort-header-heading {
  text-align: center;
  font-weight: 100;
  color: #333; }

.container-section {
  display: flex;
  background-color: #F0F0F0;
  width: 100%;
  flex-direction: row-reverse; }

.tiles-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 8px;
  border: 1px solid #fff;
  width: 100%; }

.tile-height-desktop {
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  color: #fff; 
}

.footer-note{
  font-style: italic;
  font-size: 20px;
}
.tile-3, .tile-5, .tile-9 {
  background: #2f454e; }

.tile-2, .tile-4 {
  background: #2b8ead; }

.tile-1, .tile-8 {
  background: #6f98a8; }

.tile-6, .tile-7 {
  background: #bfbfbf; }

.btn {
  overflow: visible;
  display: block;
  width: 240px;
  position: relative;
  top: 0px;
  font-family: inherit;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  background: #f7f7f7;
  padding: 15px 50px;
  margin: 25px 22px 0 10px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  box-shadow: 0px 5px 0px #c4c4c4;
  color: #222;
  text-shadow: 1px 1px 1px #fff;
  transition: All 250ms ease;
  padding: 0.8em 2em; }
  .btn:active {
    position: relative;
    top: 5px;
    box-shadow: none !important;
    transition: All 250ms ease; }

.btn-blue {
  background: #72c3dc;
  color: #fff;
  border: 1px solid #2b8ead;
  border-radius: 5px;
  box-shadow: 0px 5px 0px #2b8ead;
  text-shadow: 1px 1px 1px #2b8ead;
  font-weight: 100;
  cursor: pointer;
 }

footer {
  font-size: 0.8em;
  text-align: center;
  color: #333;
  background-color: #F0F0F0;
  padding: 5px; }

@media screen and (min-width: 360px) and (max-width: 1000px) {
  .container {
    background: none;
    width: 100%; 
  }
  footer{
    background-color: snow;
  }
  .container-section {
    flex-direction: column;
    align-items: center; 
    background-color: snow;
  }
  .content-divider {
    display: none; 
  }

  .shuffle-header {
    background: #333;
    color: #fff;
   }
  .shuffle-sort-header-heading {
    height: 60px; 
    background: #282828;
    color: #F5F5F5;
    margin: 0;
    font-size: 50px;
    font-weight: 300;
    padding: 26px 0px;
  }
  .btn {
    overflow: visible;
    padding: 28px 17px 22px 15px;
    font-size:25px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    width: 150px;
  }
  .tiles-container {
    width: 90%;
    display: grid;
    grid-template-columns: auto; 
  }
  .tile-height-desktop {
    min-height: 90px;
    color: black;
    font-size: 3em; 
  }
  .mobile-tile-class, .tile-1, .tile-2, .tile-3, .tile-4, .tile-5, .tile-6, .tile-7, .tile-8, .tile-9 {
    background: #efefef;
    margin-bottom: 10px;
    border-left: 0.3em solid; }
  .tile-1, .tile-8 {
    border-left-color: #6f98a8; }
  .tile-2, .tile-4 {
    border-left-color: #2b8ead; }
  .tile-3, .tile-5, .tile-9 {
    border-left-color: #2f454e; }
  .tile-6, .tile-7 {
    border-left-color: #bfbfbf; } 
  }
